
/*Common*/
aside {
    flex-direction: column;
    flex: 1;
    background-color: white;
    border-radius: 10px;
    padding: 15px 20px;
    margin-right: 30px;
}

main {
    justify-content: space-around;
    flex: 5;
    background-color: white;
    border-radius: 10px;
    padding: 15px 20px;
}

aside h2 {
    text-align: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 4px;
    font-weight: normal;
}

aside li {
    list-style-type: none;
    margin-bottom: 5px;
}

aside li:hover {
    background-color: #969696;
    color: white;
}

aside li a {
    color: #5D5D5D;
    text-decoration: none;
    font-size: 110%;
    display: block;
    padding: 2px 6px;
}

aside li a:hover {
    color: white;
    font-weight: bold;
}

/*Users*/
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #cccccc;
}

th {
    padding: 10px 0;
    font-weight: bold;
}

td {
    padding: 8px 0 8px 6px;
}

td.actions {
    text-align: center;
    padding: 8px 0;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

.delete-btn {
    display: inline;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

/*Manage user*/
.user-content {
    flex-direction: row;
    width: 100%;
}

.user-form, .role-form {
    flex: 1;
    flex-direction: column;
    -webkit-flex-direction: column;
    padding: 16px;
    align-items: flex-start;
    width: 100%;
    border: 2px solid #EEEEEE;
    border-radius: 20px;
}

.user-form {
    margin-right: 5%;
}

.role-form {
    margin-left: 5%;
}

.user-form input, .update-btn {
    width: 100%;
    padding: 4px 6px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input.update-btn {
    cursor: pointer;
    background: url(../images/button.png) repeat-x;
    background-size: contain;
    border: 0.5px solid #969696;
}

.update-btn:active {
    background-image: url(../images/button-pressed.png);
}

.role-item {
    flex-direction: row;
    justify-content: center;
    margin: 8px;
}

.role-item input {
    margin-right: 10px;
}

.role-item input, .role-item label {
    cursor: pointer;
}

